@import '../node_modules/tocbot/dist/tocbot.css';

:root {
  @apply .light;
}

html {
  scroll-behavior: smooth;
}
.dark {
  --color-bg-primary: #161618;
  --color-bg-secondary: #121213;
  --color-bg-accent: #5afb9a;
  --color-bg-inverse: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e1e2e2;
  --color-text-tertiary: #9a9a9c;
  --color-text-accent: #5afb9a;
  --color-text-inverse: #18161b;
  --color-text-inverse-secondary: #121213;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f0f0f0;
  --color-bg-accent: #2fc163;
  --color-bg-inverse: #1a202c;
  --color-text-primary: #161b25;
  --color-text-secondary: #1a202c;
  --color-text-inverse: #ffffff;
  --color-text-inverse-secondary: #f0f0f0;
  --color-text-accent: #2fc163;
}

@import './blog.css';

@import './code-theme.css';

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.is-dark {
  transform: rotate(180);
  transition: all 1s;
}

.is-light {
  transform: rotate(-180deg);
  transition: all 1s;
}

.toc-link:before {
  content: none !important;
}
.is-active-link:before {
  content: none !important;
}

a.selected {
  color: var(--color-text-accent);
}

/* #wave path{
    fill: 
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
